*{
padding:0;
margin: 0;
box-sizing:border-box;
font-family:"Raleway", sans-serif;
}

body {
height: 100vh;
background: linear-gradient(135deg,rgba(27, 220, 234, 0.133),#339fca);

}

html{
    font-size: 16px;
}

.wrapper{
    position: absolute;
    transform: translate (-50%, -50%);
    left: 50%;
}

.container{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option{
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border-radius: 10px;
    font-size: 12vmin;
    color:red;
    box-shadow: 0;
}

#restart{
    font-size: 1.3em;
    color: azure;
    padding: 1em;
    border-radius: 8px;
    border:none;
    background-color: #2cbc52;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block; 
}

.popup{
    
}