.tauler {
    display: grid;
    gap: 5px;
    width: max-content;
    margin: 20px;
}


.container{
    width: 50px;
    height: 50px;
    background-color: azure;
    border-color: blueviolet;
    font-size: 48px;
    align-items: center;
    justify-content: center;
    display: flex;

}



body {
height: 100vh;
background: #05ed0d;
}

