body {
height: 100vh;
background: #0026cd;
font-family: Arial, sans-serif;
color: aliceblue;
text-align: center;
}

.table {
    display: grid;
    gap: 5px;
    justify-content: center;
    width: max-content;
    margin: auto;
    grid-template-columns: repeat(3, 100px);
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    font-size: 60px;
    cursor: pointer;
}

#winning-line {
position: absolute;
width: 300px;
height: 5px;
background: red;
top: 50%;
left: 0;
display: none;
}

.button{
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}



